name: Full Stack Docker CI

on:
  push:
    branches: [ main ]

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build Backend Docker Image
        run: docker build -t clinic-backend ./backend

      - name: Build Frontend Docker Image
        run: docker build -t clinic-frontend ./frontend
