name: Full Stack Docker CI

on:
  push:
    branches: [ main ]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Backend Docker Image
        run: docker build -t clinic-backend ./backend

  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build Frontend Docker Image
        run: docker build -t clinic-frontend ./frontend
